.sideBar{
    background: linear-gradient(180deg, #247BFF 0%, #0752C4 100%);
    width: 44px;
    height: 97vh;
    position: fixed;
    top: 1.5vh;
    left: 0;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s;
    z-index: 999;
    overflow-x: hidden;
}
.sideBar section{
    margin: 20px 0 0 0;
    text-align: center;
}
.sideBar div{
    width: 15px;
    height:2px;
    background-color: white;
    margin: 3px auto ;
}

.sideBar  ul{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    list-style-type: none;
    color: white;
    font-size: 1.5rem;
    margin: 30vh 0 0 0;
    width:200px;
    
    opacity: 0;
}
.sideBar  ul li{
    font-size: 1.5rem;
    margin: 30px 0;
    
}
